<!DOCTYPE html> 
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">

        <meta http-equiv="viewport" content="width=device-width,initial-scale=1.0">

        <script src="vue.global.js"></script>

        <link rel="stylesheet" href="style.css"/>

        <title>Teste V-IF</title>
    </head>
    <body>
        <div id="app">
            <div>
                <span v-if="testeSpan">Funcionou nosso exemplo!</span>

                <button @click="handleTest">Teste</button>
            </div><!--Fim da div-->

            <div>
                <button @click="toggleLampada">
                    {{isLampadaLigada ? 'Desligar' : 'Ligar'}}
                </button>
                <br>
                <img v-if="isLampadaLigada" src="./imagens/On.png" alt="Lampada Ligada">
                <img v-else="isLampadaLigada" src="./imagens/Off.png" alt="Lampada Desligada">
            </div>
        </div><!--Fim do div principal-->
        <script src="process.js"></script>
    </body>
</html>