.calculadora

{
    position: fixed;
    top:50%;
    left:50%;
    background-color:rgb(0, 229, 255);
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding:20px;
}/*Fechamento calculadora*/

.tela
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size:3rem;
    width: 400px;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
    padding: 10px;
    border-radius: 4px;
    background-color:rgb(255, 255, 255);
    color:#000000;
}/*Fechamento tela*/

.botao
{
    dispaly: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento botao*/

.linhas
{
    dispaly: flex;
    flex-direction: row;
    margin-bottom: 10px;
}/*Fechamento coluna*/

button
{
    margin: 5px;
    width: 100px;
    height: 50px;
    font-size:1.5rem;
    cursor: pointer;
}/*Fechamento de tamanho de botao*/

.operadores
{
    background-color: #98fecf;
}/*Fechamento operadores*/

.outros
{
    background-color: #ff84f1;
}/*Fechamento outros*/

.title
{
    color:#ffffff
}

.APAGAR
{
    background-color: #ff84f1;
    width: 430px;
}/*Fechamento APAGAR*/

button:last-child
{
    margin-right: 0; 
}

button:hover
{
    background-color: #23e5be;
    color:#ffffff
}